@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent-blue: #00c2ff;
  --color-accent-gold: #fbbf24;
  --color-gray-custom: #94a3b8;
  
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}